@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* layout */
.first-section {
    grid-area: first-section;
}

.content-about-us {
    grid-area: second-section;
}

.content-service {
    grid-area: third-section;
}

.content-feedback {
    grid-area: fourth-section;
}

.content-contact {
    grid-area: fifth-section;
}

.footer {
    grid-area: last-section;
}

body {
    background-color: #FFF;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "first-section" "second-section" "third-section" "fourth-section" "fifth-section" "last-section";
}

.first-section {
    background-image: url(../images/fundoMain.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 67% 95%;
    height: 900px;
}

.header {
    width: 90%;
    height: 85px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.header nav {
    width: 50%;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header nav ul li {
    list-style-type: none;
}

.header nav ul li a {
    text-decoration: none;
    color: #7D38C6;
    font-weight: 600;
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    text-transform: lowercase;
}

.header nav ul li a:visited {
    color: #7D38C6;
}

.menu-toggle {
    display: none;
}

.content-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main img {
    height: 170px;
}

.logo-phone {
    display: none;
}

.text-main {
    text-align: center;
    font-family: "Kanit", sans-serif;
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-main p {
    font-size: 20px;
    font-weight: 500;
    color: #6f6f6f;
}

.text-main a {
    text-decoration: none;
    color: #FFF;
    background-color: #7D38C6;
    padding: 26px 32px;
    border-radius: 71px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.content-about-us {
    background-image: url(../images/fundosection2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 650px;
}

.about-us {
    margin-bottom: 25px;
}

.about-us, .values {
    width: 500px;
    font-family: "Poppins", sans-serif;
    color: #FFF;
    text-align: left;
}

.about-us h2, .values h2 {
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 20px;
}

.about-us p {
    margin-bottom: 25px;
}

.about-us p, .values p {
    font-size: 14px;
    font-weight: bold;
}

.about-us img {
    height: 250px;
}

.values {
    text-align: right;
    width: 400px;
}

.subtitles {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #7D38C6;
    margin: 50px 0;
}

.content-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-card-service {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 15px;
}

.card-service {
    width: 330px;
    color: #324473;
    font-family: "Poppins";
    border-radius: 30px;
    box-shadow: 1px 1px 5px 0 #929191;
}

.card-service img {
    width: 100%;
}

.text-card-service {
    margin: 12px 25px 0;
    text-align: left;
}

.card-service h3 {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 5px;
}

.card-service p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.service-button {
    background-color: #23B7AF;
    color: #FFF;
    margin-top: 60px;
    padding: 30px 20px;
    border-radius: 71px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.content-feedback {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.content-card-feedback {
    width: 70%;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
    color: #324473;
}

.card-feedback:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 2;
}

.card-feedback:nth-child(4) {
    grid-column-start: 1;
    grid-row-start: 2;
}

.card-feedback:nth-child(even) .feedback-title {
    color: #7D38C6;
}

.content-card-feedback h3 {
    color: #23B7AF;
}

.card-feedback {
    border: solid 1px #A5A5A5;
    border-radius: 40PX;
}

.article {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.feedback-img {
    height: 80px;
}

.feedback-img img {
    height: 80px;
}

.feedback {
    margin-left: 20px;
}

.feedback-title {
     margin-bottom: 10px;
     font-size: 18px;
     font-weight: bold;
}

.feedback p {
    font-size: 14px;
    font-weight: 400;
}

.stars {
    margin-top: 10px;
}

.stars img {
    height: 20px;
}

.content-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
}

.cards-contact {
    background-color: #ECECEC;
    color: #333;
    font-family: "Kanit", sans-serif;
    font-size: 14px;
    border-radius: 61px;
}

.margin-contacts {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cards-contact img {
    height: 20px;
    margin-right: 20px;
}

.footer {
    margin-top: 100px;
    background-color: #7D38C6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-footer {
    width: 70%;
}

.content-footer {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #FFF;
    margin: 40px 0 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ffffff49;
}

.logo-footer {
    height: 22px;
    margin-bottom: 20px;
}

.al-company p {
    width: 300px;
    line-height: 20px;
    margin-bottom: 20px;
}

.social-networks {
    display: flex;
    justify-content: flex-start;
}

.social-networks a {
    margin-right: 20px;
}

.social-networks img {
    height: 35px;
}

.footer-header {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.list-footer {
    list-style-type: none;
    margin: 20px 0;
}

.newsletter p {
    margin-bottom: 25px;
}

.email-footer {
    border: solid 1px #FFF;
    border-right: none;
    background-color: transparent;
    border-radius: 5px;
    width: 190px;
    height: 55px;
    color: #FFF;
    padding-left: 40px;
}

.email-footer::placeholder {
    color: #FFF;
    font-size: 16px;
}

.email-footer:focus {   
    outline: none;
    height: 55px;
}

.button-footer {
    height: 57px;
    width: 70px;
    margin-left: -10px;
    border: solid 1px #23B7AF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #23B7AF;
    color: #FFF;
}

.footer p {
    padding-bottom: 15px;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 18;
    font-weight: 300;
}

/* phone */

@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }

    .first-section {
        background-size: 200% 100%;
        background-position-x: -340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 129px;
    }

    .menu-toggle {
        display: block;
        background-color: transparent;
        color: #7D38C6;
        border: none;
    }

    .header {
        width: 90%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .header nav {
        display: none;
    }

    .logo-desktop {
        display: none;
    }

    .logo-phone {
        display: block;
        margin: 127px 0 171px;
    }
    
    .text-main p {
        margin-bottom: 48px;
    }

    .text-main a {
        padding: 15px 16px;
        font-size: 16px;
    }

    .content-about-us {
        background-image: url(../images/fundo-section-2-phone.png);
        background-size: 100% 100%;
        height: 1633px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .about-us {
        height: 588px;
    }

    .about-us, .values {
        margin: 0;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-us h2, .values h2 {
        font-size: 40px;
    }

    .about-us p, .values p {
        font-size: 15px;
    }

    .about-us img {
        height: 200px;
    }

    .values {
        height: 658px;
        margin-bottom: 50px;
    }

    .subtitles {
        font-size: 45px;
    }

    .content-service {
        margin: 40px 0 80px;
    }

    .content-card-service {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        column-gap: 0;
        row-gap: 56px;
    }

    .card-service {
        width: 185px;
        transition: transform .3s;
    }

    .card-service:hover {
        transform: scale(1.15);
    }

    .text-card-service {
        text-align: center;
    }

    .text-card-service h3 {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .text-card-service p {
        display: none;
    }

    .service-button {
        margin-top: 90px;
        padding: 10px 10px;
        font-size: 15px;
    }

    .content-feedback {
        width: 100%;
        margin-bottom: 80px;
    }

    .content-card-feedback {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .feedback-img {
        height: 50px;
    }
    
    .feedback-img img {
        height: 50px;
    }

    .feedback-title {
        font-size: 13px;
    }

    .feedback p {
        font-size: 12px;
        height: 56px;
        overflow: hidden;
    }


    /*-------------*/
    .content-contact {
        display: none;
    }
    .footer {
        display: none;
    }
}