@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* layout */
.first-section {
    grid-area: first-section;
}

.content-about-us {
    grid-area: second-section;
}

.content-service {
    grid-area: third-section;
}

.content-feedback {
    grid-area: fourth-section;
}

.content-contact {
    grid-area: fifth-section;
}

.footer {
    grid-area: last-section;
}

body {
    background-color: #FFF;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "first-section" "second-section" "third-section" "fourth-section" "fifth-section" "last-section";
}

.first-section {
    background-image: url(../images/fundoMain.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 67% 95%;
    height: 900px;
}

.header {
    width: 90%;
    height: 85px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.header nav {
    width: 50%;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header nav ul li {
    list-style-type: none;
}

.header nav ul li a {
    text-decoration: none;
    color: #7D38C6;
    font-weight: 600;
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    text-transform: lowercase;
}

.header nav ul li a:visited {
    color: #7D38C6;
}

.content-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main img {
    height: 170px;
}

.text-main {
    text-align: center;
    font-family: "Kanit", sans-serif;
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-main p {
    font-size: 20px;
    font-weight: 500;
}

.text-main a {
    text-decoration: none;
    color: #FFF;
    background-color: #7D38C6;
    padding: 25px 29px;
    border-radius: 71px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.content-about-us {
    background-image: url(../images/fundosection2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 650px;
}

.about-us {
    margin-bottom: 25px;
}

.about-us, .values {
    width: 500px;
    font-family: "Poppins", sans-serif;
    color: #FFF;
    text-align: left;
}

.about-us h2, .values h2 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 20px;
}

.about-us p {
    margin-bottom: 20px;
}

.about-us p, .values p {
    font-size: 14px;
    font-weight: bold;
}

.about-us img {
    height: 250px;
}

.values {
    text-align: right;
    width: 400px;
}

.subtitles {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #7D38C6;
    margin: 50px 0;
}

.content-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-card-service {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 15px;
}

.card-service {
    width: 330px;
    color: #324473;
    font-family: "Poppins";
    border-radius: 30px;
    box-shadow: 1px 1px 5px 0 #929191;
}

.card-service img {
    width: 100%;
}

.text-card-service {
    margin: 12px 25px 0;
    text-align: left;
}

.card-service h3 {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 5px;
}

.card-service p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.service-button {
    background-color: #23B7AF;
    color: #FFF;
    margin-top: 60px;
    padding: 30px 20px;
    border-radius: 71px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.content-feedback {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.content-card-feedback {
    width: 60%;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
    color: #324473;
    
}

.card-feedback:nth-child(2) .feedback-title, .card-feedback:nth-child(3) .feedback-title {
    color: #7D38C6;
}

.content-card-feedback h3 {
    color: #23B7AF;
}

.card-feedback {
    border: solid 1px #A5A5A5;
    border-radius: 40PX;
}

.article {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.feedback-img {
    height: 80px;
}

.feedback-img img {
    height: 80px;
}

.feedback {
    margin-left: 20px;
}

.feedback-title {
     margin-bottom: 10px;
     font-size: 18px;
     font-weight: bold;
}

.feedback p {
    font-size: 14px;
    font-weight: 400;
}

.stars {
    margin-top: 10px;
}

.stars img {
    height: 20px;
}